<div class="mt-5">
  <form method="POST" action="">
    <div class="form-group">
      <label for="inputsearch">Tìm kiếm</label>
        <input
        type="text"
        name="q"
        class="form-control"
        id="inputsearch"
        placeholder="Enter your keyword"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>